<br><br><br>
<div class="ab">
    <h1 style="margin-left: 45%; color: white;">ABOUT US</h1>
<p style="background-color: rgb(57, 53, 53); color: white; font-size: 25px;">Welcome to DeaLDAzH<br><br>

    At DeaLDAzH, we’re passionate about delivery products at home. Founded in 2010 by Antony Varghese, our journey began with a simple goal: To give products to everyone at low price.<br><br>
    
    Our Mission<br><bR>
    
    Our mission is to provide all accessories for every people. We believe in integrity,kindness,honesty and financial security. Every day, we strive to fulfill this mission.<br><bR>
    
    Our Story<br><br>
    
    DeaLDAzH started in Ernakulam. With a small but dedicated team. Today, we are proud to say that our website is now helping many people to buy home appliances,electronic gadgets etc.<br><br>
    
    What We Do<br><br>
    
    We offer all products with very low price and also give services to the electronic accessories.we give warranty to electronic devices. Our products are designed from many branded company's from USA,Germany and also India. We’re committed to user friendly design,mobile friendly features,multiple payment options,24/7 customer service,user reviews,user features and discounts,extensive products informations.<br><br>
    
    
    Get in Touch<br><br>
    
    We’d love to hear from you! Whether you have questions, feedback, or just want to say hello, feel free to call at any time (xxxxxx9614).<br>
    
    Thank you for visiting DeaLDAzH. We look forward to work with you in the future.<br>
    
    Warm regards,<br><br>
    
    Antony Varghese<br>
    
    DeaLDAzH</p><br><br>
</div>