<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Vision
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>It all started in 2004 with a simple yet ambitious idea: to revolutionize the way people shop online. Antony Varghese, driven by a passion for Shopping, set out to create a platform that would not only offer exceptional products but also deliver an unparalleled shopping experience.</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Milestone Achievements
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>As we grew, we reached several key milestones that marked our progress:

            2004: Launched our first products, setting a new standard for industry.
            2010 Expanded our product range to include fashion items, catering to a broader audience.
            2020: Implemented new products , enhancing our platform’s functionality and user experience.</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Thank You
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>We want to extend a heartfelt thank you to our loyal customers, partners, and team members who have been instrumental in our journey. Your support and feedback inspire us every day to strive for greatness and continue pushing the boundaries of what’s possible.</p>
        </div>
      </div>
    </div>
  </div>
